<script type="text/javascript">
Ext.onReady(function(){

     del = function (value) {
          Ext.Msg.confirm('提示','是否删除此班级',function(btn){
              if(btn == 'no') {
                  return;
              } else {
                  Ext.Ajax.request({
                      url:'/ams/manager/GroupDel',
                      params:{ID:value},
                      success:function(){
                          listView.store.reload();
                      }
                  })
              }
          })
    }
    var store = new Ext.data.JsonStore(
            {
                url: '/ams/Manager/GroupList',
                root: 'data',
                autoLoad:true,
                totalProperty: 'total',
                baseParams: {
                    start: 0,
                    limit: 5
                },
                fields: ['ID','Name','TypeName','Type']
            });

    var listView = new Ext.grid.EditorGridPanel(
            {
                store: store,
                multiSelect: true,
                title: '班组管理',
                stripeRows: true,
                region: 'center',
                autoHeight:true,
                emptyText: '没有数据',
                viewConfig: {forceFit:true},
                reserveScrollOffset: true,
                columns: [
                    {
                        header: '班组',
                        align:"center",
                        sortable: true,
                        dataIndex: 'Name'
                    }, {
                        header: '职责',
                        dataIndex: 'TypeName',
                        align:"center",
                        sortable: true,
                        editor:new Ext.form.TextField({
                            allowBlank:false
                        })
                    },{
                        header: '操作',
                        align:"center",
                        dataIndex: 'ID',
                        renderer: function (value, cellmeta) {
                            return "<a href='#' onclick=del('"+value+"')>删除</a>"
                        }
                    }],
                bbar: new Ext.PagingToolbar({
                    pageSize: 5,
                    store: store,
                    displayMsg: "显示{0}条到{1}条记录，总共{2}条记录",
                    emptyMsg: "没有数据记录",
                    displayInfo: true
                })
            });

    var infoPanel = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        plain:true,
        defaults:{autoScroll: true},
        items:[
            listView
        ]
    });

    var submitForm = new Ext.FormPanel({
        labelWidth: 85,
        defaults:{
            border: false
        },
        url:'/ams/manager/GroupBuildAjax',
        title: '班组创建',
        style: 'margin-top:6px;margin-left:20px',
        labelAlign: 'right',
        layout: 'form',
        items: [{
            fieldLabel: '班组名',
            xtype: 'textfield',
            name:'Team',
            allowBlank:false,
            width: 151
        },new QuietCombox({
            fieldLabel: '职责',
            displayField:'Text',
            hiddenName:'Duty',
            valueField:'Duty',
            fields:['Text','Duty'],
            data   : [['抄表', '1'],['收费', '2']],
            width: 151
        }) ,{
            style:'margin-left:90px',
            width:100,
            xtype:'button',
            text:'创建',
            handler:function(){
                if (!submitForm.getForm().isValid()){
                    Ext.MessageBox.alert('提示','请正确填写表单');
                    return;
                }
                submitForm.getForm().submit({
                    success:function(v,action){
                        var re = Ext.decode(action.response.responseText);
                        if (re.success) {
                            Ext.MessageBox.alert('提示','创建成功');
                            listView.store.reload();
                        }
                    },
                    failure:function(v,action) {
                            Ext.MessageBox.alert('提示','创建失败');
                    }
                })
            }
        }]
    })

    var submmitTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:115,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            submitForm
        ]
    });
    var formpanels = new Ext.Panel({
        region: 'center',
        fileUpload: true,
        autoScroll: true,
        bodyStyle: "padding:20px;",
        items: [
            infoPanel,
            submmitTab
        ]
    });


    new Ext.Viewport(
    {
        layout: 'border',
        items: [
            formpanels
        ]
    });
})
</script>