<script>
Ext.onReady(function(){
    _pageSize = 50;
    var msgTip = new Ext.LoadMask(Ext.getBody(),{
        msg:'Excel正在生成中',
        removeMask : true
    });
    var teamCombox = new SettCombbox({
        url:'/ams/Info/TeamList?ID=1&Type=1&All=1',
        fieldLabel: '管理班组',
        anchor:'95%',
        id:'searchTeam',
        hiddenName:'Team',
        autoLoad:true
    });
    var searchPanel= new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:70,
        plain:true,
        bodyStyle: 'padding:10px',
        defaults:{autoScroll: true},
        items:[{
            title: '用户查询',
            xtype: 'panel',
            items: [{
                xtype: 'compositefield',
                width:500,
                items: [{
                    xtype: 'displayfield',
                    style: 'text-align:right;width:85px;',
                    value: '<a style="color:red;">*</a>管理班组: '
                },teamCombox,{
                    width:100,
                    xtype:'button',
                    text:'查询',
                    handler:function(){
                        var number = Ext.getCmp('searchTeam').getValue();
                        Ext.apply(listView.store.baseParams, {Team : number });
                        listView.store.removeAll();
                        listView.store.load({
                            params : {Team : number },
                            callback:function(ecords, options, success){
                                if (!success) {
                                    Ext.Msg.alert('提示','此班组下没有数据');
                                }
                            },
                            add: false
                        })
                    }
                }]
            }]
        }]
    });

    var store = new Ext.data.JsonStore(
            {
                url: 'Advance',
                root: 'data',
                totalProperty: 'total',
                url : "/ams/reminder/Advance",
                baseParams: {
                    start: 0,
                    limit: _pageSize
                },
                fields: reminderFields
            });

    // var singlem = new Ext.grid.CheckboxSelectionModel({singleSelect : true});
    var listView = new Ext.grid.EditorGridPanel(
            {
                store: store,
                multiSelect: true,
                title: '预收明细',
                stripeRows: true,
                region: 'center',
                autoHeight:true,
                emptyText: '没有数据',
                viewConfig: {forceFit:true},
                reserveScrollOffset: true,
                columns: [ {
                        header: '用户编号',
                        dataIndex: 'CustomerNumber',
                        align:"center",
                        sortable: true,
                        editor:new Ext.form.TextField({
                            allowBlank:false
                        })
                    }, {
                        header: '用户名称',
                        sortable: true,
                        align:"center",
                        dataIndex: 'CustomerName'
                    }, {
                        header: '用电地址',
                        sortable: true,
                        align:"center",
                        dataIndex: 'Address'
                    }, {
                        header: '预收金额',
                        sortable: true,
                        align:"center",
                        dataIndex: 'Balance'
                    }, {
                        header: '电费金额',
                        sortable: true,
                        align:"center",
                        dataIndex: 'Money'
                    }, {
                        header: '抄表员',
                        sortable: true,
                        align:"center",
                        dataIndex: 'SegUser'
                    }],
                bbar: new Ext.PagingToolbar({
                    pageSize: _pageSize,
                    store: store,
                    displayMsg: "显示{0}条到{1}条记录，总共{2}条记录",
                    emptyMsg: "没有数据记录",
                    displayInfo: true,
                    items:[
                        '-', {
                            text: 'excel',
                            iconCls: 'excel',
                            handler: function(btn, pressed){
                                if (listView.getStore().data.length == 0) {
                                    Ext.MessageBox.alert('提示','请先查询数据');
                                    return;
                                }
                                var number = Ext.getCmp('searchTeam').getValue();
                                 msgTip.show();
                                Ext.Ajax.request({
                                    params:{Team:number},
                                    url:'/ams/export/advance',
                                    success:function(v){
                                        var re = Ext.decode(v.responseText);
                                        msgTip.hide();
                                        Ext.MessageBox.alert('提示',"<a target='_blank' href='"+re.msg+"'>下载</a>");
                                    },
                                    failure:function(v,action) {
                                        msgTip.hide();
                                        Ext.MessageBox.alert('提示','创建失败');
                                    }
                                })
                            }
                        },{
                            xtype:"label",
                            id:'htmlID',
                            fieldLabel: ''
                        }]
                })
            });
    listView.getStore().on("load",function(p){
        var tpl = "";
        var number = Ext.getCmp('searchTeam').getValue();
        Ext.Ajax.request({
            params: {Team : number , start: 0, limit:5},
            url:'/ams/reminder/Advance',
            success: function(v, action){
                var re =  Ext.decode(v.responseText);
                var total = re.TotalInfo.Count;
                var money = re.TotalInfo.Money;
                tpl = '预收转逾期电费'+total+'笔，预售电费金额总计'+money+'元';
                Ext.getCmp('htmlID').setText(tpl);
           },
            failure: function(){
                Ext.getCmp('htmlID').setText(tpl);
              }
        })
    })


    var infoPanel = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            listView
        ]
    });


    var formpanels = new Ext.Panel({
        region: 'center',
        fileUpload: true,
        autoScroll: true,
        bodyStyle: "padding:20px;",
        items: [
            searchPanel,
            infoPanel
        ]
    });


    new Ext.Viewport(
            {
                layout: 'border',
                items: [
                    formpanels
                ]
            });
})
</script>
