<script type="text/javascript">
$(document).ready(function(){
	
	
	$("#time").val(AgoTime);
	$("#Totime").val(CurrentTime);

	var G = new AjaxFun();

	var DrownBox = new DropDownBox()//获取三级下拉框

	var clickpage = new ClickPage(G,ShowTable);//分页

	DrownBox.select = {"Team":"td:eq(1)", "Name":"td:eq(3)", "Number":"td:eq(5)"};

	var data = {ID:"1",Type:"1"};
	var url = "/ams/Info/TeamList";
	G.GetAjax('get',url,data,DrownBox.SetAllSelect,true);

	var SearchUrl = "/ams/reminder/SearchReset";
	$("#Condition").on("change","select:eq(0)",function(v){
		var id = $("select:eq(0)").val();
		var data = {ID:id,Type:"Name"};
		var url = "/ams/Info/UserList";
		G.GetAjax('get',url,data,DrownBox.SetAllSelect,true);

	})

	$("#Condition").on("change","select:eq(1)",function(v){
		var id = $("select:eq(1)").val();
		var data = {ID:id,Type:"Number"};
		var url = "/ams/Info/SegmentList";
		G.GetAjax('get',url,data,DrownBox.SetAllSelect,true);

	})

	 
	$("button:eq(0)").click(function(){
		
		data = $("form:eq(0)").serialize();
		clickpage.Data = data;
		var SearchData = data+"&Page=1&PageSize="+PageSize;
		G.GetAjax('post',SearchUrl,SearchData,ShowTable,true);
	})

	$("#Arrears").on("click","[name=select]",function(v){
		var ID = v.currentTarget.defaultValue;
		$("[name=ID]").val(ID);
		$("button:eq(1)").removeAttr("disabled")
	})

	$("body").keydown(function() {
		var msg;
				if (event.keyCode == "13") {
					if ($("[name=Num]").focus()) {
						Page = $("[name=Num]").val();

						if (Page>PageNumber || Page<1) {
							msg = "总共只有"+PageNumber+"页。没有第"+Page+"页！";
							popupDiv('pop-div',msg);
							Page =1;
						}
						
						var Searchdata = data+"&Page="+Page+"&PageSize="+PageSize;
						clickpage.Page = Page;
						G.GetAjax('post',SearchUrl,Searchdata,ShowTable);
					}
					
				}
  	})

	$("iframe").load(function(v){
	
		var data = window.frames["frm_dealer"].document.documentElement.innerText;
		if (data) {
			var jsonData = eval('('+data+')');
			if (jsonData.success) {
				var data = $("form:eq(0)").serialize();
				data = data+"&Page="+Page+"&PageSize="+PageSize;

				G.GetAjax('post',SearchUrl,data,ShowTable);
			} else {
				popupDiv('pop-div',jsonData.msg);
			}
			$("button:eq(1)").attr("disabled","true");
		}
		
	})

	clickpage.SearchUrl = SearchUrl;
	Page = clickpage.ReturnPage();
 	clickpage.PageClick();

	function ShowTable(value,total)
	{
		if (value == null){
			$("#info div").remove();
			$("#Arrears div").remove();
			$("#Entry").css("display","none");
			 $("#tip").css("display","block");
			//SetInfoTable();
			//SetArrearsTable('','',array,title,model,modelcss);

			return ; 

		}
		Page = clickpage.ReturnPage();
		var title = '欠费用户信息';
		var headarray = Array("抄表段编号", "用户编号", "用户名称", "用电地址", "电费年月", "电费金额", "结清标志", "停电标志", "催费次数", "停电次数", "停电方式", "停电时间", "交费登记电话", "电能表号");
		var model = Array("Segment", "CustomerNumber", "CustomerName", "Address", "YearMonth", "Money", "IsClean", "IsCut", "PressCount", "CutCount", "CutStyle", "CutTime", "Phone", "AssetNumber");
		var modelcss = Array("text-align:center;width:90px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:80px", "text-align:center;width:70px",  "text-align:left;width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:70px", "text-align:center;width:70px", "text-align:center;width:70px", "text-align:center;width:85px", "text-align:center;width:85px", "text-align:center;width:85px", "text-align:center;width:105px", "text-align:center;width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:100px", "text-align:center;width:85px");
		
		
		SetArrearsTable(total, value, headarray, title, model, modelcss);
		//SetArrearsTable("","",headarray,title,model);
	}
	


	
	//代表number用户编号，s数据是填充表格的数据，headarray是表头,title是表格上的标题
	function SetArrearsTable(total, s, headarray, title, model, modelcss)
	{
		PageNumber = Math.ceil(total/PageSize);
		var bodyTpl = "";
		var headmodel = "";
		var money = 0;
		var PTpl;
		var text;
		if (s) {
			for (var i in s) {
			
				var number = s[i].CustomerNumber;
				var source = ReplaceArray(s[i]);
		
				bodyTpl += '<tr >'+
					'<td style="text-align:center;height:20px"><input style="vertical-align:text-bottom; *margin-bottom:-4px;"  value="'+source.ID+'" type="radio" name="select" /></td>';
					for (var n in model) {
						if (model[n] == "CutCount" || model[n] == "PressCount" || model[n] == "CustomerNumber") {
							bodyTpl +='<td id="'+model[n]+'" title="'+source.ID+'/'+number+'/'+source.YearMonth+'" style="text-decoration:underline;cursor:pointer;'+modelcss[n]+'">'+source[model[n]]+'</td>';
						} else {
							if (model[n] == "IsClean") {
								if (source[model[n]] == 2) {
									text = text = '<div style="'+modelcss[n]+'" title="预收转逾期">预收转逾期</div>';
								} else if (source[model[n]] == 1){
									text = text = '<div style="'+modelcss[n]+'" title="已结清">已结清</div>';
								} else {
									text = text = '<div style="'+modelcss[n]+'" title="未结清">未结清</div>';
								}
							} else if(model[n] == "IsCut"){
								if (source[model[n]] == 2) {
									text = text = '<div style="'+modelcss[n]+'" title="全部">全部</div>';
								} else if (source[model[n]] == 1){
									text = text = '<div style="'+modelcss[n]+'" title="已停电">已停电</div>';
								} else {
									text = '<div style="'+modelcss[n]+'" title="未停电">未停电</div>';
								}
							} else if(model[n] == "CustomerName"){
								var tmp_color = "#333";
								tmp_color = color(0,source['IsClean'], "#CC6600", tmp_color);
								tmp_color = color(1,source['IsCut'], "#003366", tmp_color);
								tmp_color = color(1,source['IsSpecial'], "red", tmp_color);
								text = '<div style="'+modelcss[n]+';color:'+tmp_color+'" title="'+source[model[n]]+'">'+source[model[n]]+'</div>';
							} else {
								text = '<div style="'+modelcss[n]+'" title="'+source[model[n]]+'">'+source[model[n]]+'</div>';
							}

							bodyTpl += '<td style="'+modelcss[n]+'">'+text+'</td>';
						}
						
					}
		        bodyTpl +='</tr>';
		        if (source.IsClean == "未结清") {
		        	money += parseInt(source.Money);
		        }
		        
			}
			$("[name=Money]").val(money);
		}
		
		if (PageNumber == 1) {
			PTpl="";
		} else {
			if ( Page == 1 ) {

				PTpl = "<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page < PageNumber && Page!= 1 ) {
				PTpl = "<span id='prev' style='cursor:pointer'>上一页</span>&nbsp;&nbsp;<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page == PageNumber) {
				PTpl = "<span id='start' style='cursor:pointer'>首页</span>&nbsp;&nbsp;<span id='prev' style='cursor:pointer'>上一页</span>";
			} 
		}


		var headTpl = '<div class="line ClientInfo" >'+title+'</div><div style="width:940px;height:auto;overflow:scroll;overflow-y:hidden"><table id="info" style="width:1300px;max-width:1300px">'+
		    		'<thead>'+
			    	'<tr style="font-size:15px">'+
			    	'<th style="height:20px;width:20px"></th>';

    	for (var i in headarray) {
    		headmodel +='<th style="'+modelcss[i]+';text-align:center" >'+headarray[i]+'</th>';
    	}
		
		var CurrentNum = s.length;    

	    var pageTpl = '</tr><tr >'+
				    '<td id="PageNum" colspan="15" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;当前第<input name="Num" type="text" value="'+Page+'" style="width:12px;padding:0 8px" />页，总共'+PageNumber+'页&nbsp;&nbsp;'+PTpl+
				    '&nbsp;&nbsp;<span >本页'+CurrentNum+'条数据，总共'+total+'条数据</span></td></tr>';
	    var footTpl = '</tbody></table></div>';
	    var tpl = headTpl+headmodel+'</thead><tbody>'+bodyTpl+pageTpl+footTpl;

	    $("#Arrears div").remove();

	    $("#Arrears").append(tpl);
	  
		$("#Arrears table tr:odd").addClass("InfoTr");
		$("#Entry").css("display","block");
		 $("#tip").css("display","none");
	}
	$("#reset").val(CurrentTime);

	
})
</script>
<link rel="stylesheet" href="/ams/css/jquery-ui.css">
<script src="/ams/js/jquery-ui.js"></script>
<script src="/ams/js/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" type="text/css" href="/ams/css/jquery-ui-timepicker-addon.css">
<script src="/ams/js/jquery-ui-date.js"></script>

	    <br />
		    <div id="Condition" class="TableCss" >
		    	<div   class="line ClientInfo" >查询条件</div>
		    	<form>
			    <table style="table-layout:fixed">
				        <tr >
				            <td class="RightHabitat" name="one">管理班组：</td>
				            <td style="width:110px">

				            </td>
				            <td class="RightHabitat" name="one">抄表员：</td>
				            <td style="width:110px">

				            </td>
				            <td class="RightHabitat" name="one">抄表段编号：</td>
				            <td style="width:110px">

				            </td>
				            <td class="RightHabitat" name="one">用户编号：</td>
				            <td style="width:104px"><input name="CustomerNumber" type="text" style="width:114px"/></td>
				        </tr>
			       
			        
				        <tr>
				            <td class="RightHabitat">停电时间：</td>
				            <td colspan="3" style="text-align:left"> <input name="FromData"style="width:120px" type="text" id="time">&nbsp;&nbsp;<div style="display:inline;margin-left:20px;*margin-left:25px;margin-left:25px\0"></div>至&nbsp;&nbsp;<input name="ToData" style="width:120px;margin-left:8px;*margin-left:12px;margin-left:11px\0" type="text" id="Totime"></td>
				            <td ></td>
				            <td>
				            </td>
				            <td></td>
				            <td></td>
				        </tr>
				        <tr >
				            <td class="RightHabitat" style="text-align:right">停电方式：</td>
				            <td >
				            	<select name="CutType" style="width:120px">
				            	 	<option value="远程停电">远程停电</option>
				            		<option value="表后开关">表后开关</option>
				            		<option value="表开关上锁">表开关上锁</option>
				            		<option value="拆表">拆表</option>
	            	</select>
				            </td>
				            <td class="RightHabitat">结清标志：</td>
				            <td >
				            	<select name="IsClean" style="width:120px">
				            		<option value="2">全部</option>
				            	 	<option value="1">是</option>
				            		<option value="0">否</option>
				            		
				            	</select>
				            	
				            </td>
				            <td></td>
				            <td>
				            	
				            </td>
				            <td></td>
				            <td style="text-align:center"><button type="button" class="btn  btn-success" style="background-color:#009966">查询</button></td>
				        </tr>
				        
			    </table>
				</form>
		    </div>
		    <div id="tip" style="color:red;margin-left:12px;display:none;margin-top:-16px;">
				当前查询没有数据
			</div>
		
		    <div id="Arrears" class="TableCss">
		    	<div></div>
		    </div>
		    <iframe name="frm_dealer" style="display:none"></iframe>
		    <br />
		    <form action="/ams/reminder/Reset" method="post" target="frm_dealer" >
		    <div id="Entry" style="display:none">
			     <div class="line ClientInfo" >复电信息录入</div>
			     <div style="border:1px solid #009966;height:145px">
				    <div class=" mt_20" style="margin-top:15px" >

						<!--<div class=" star" style="float:left;padding-left:2px;" >*</div>-->
				    	<ul style="height: 30px;  line-height: 30px; vertical-align:middle;margin:0  ">&nbsp;&nbsp;&nbsp;复电方式：
							<select name="ResetType" style="height: 25px;  line-height: 25px; vertical-align:middle; width:120px">
			            	 	<option value="远程停电">远程复电</option>
			            		<option value="表后开关">表后开关</option>
			            		<option value="表开关上锁">表开关解锁</option>
			            		<option value="拆表">拆表</option>
			            	</select>

					   	</ul>

				    </div>
			    
				 	<div class=" mt_20">
				 		<ul style="height: 30px;  line-height: 30px; vertical-align:middle;margin:0  " >&nbsp;&nbsp;&nbsp;复电时间：
				 			<input name="ResetTime" style="height: 25px;  line-height: 25px; vertical-align:middle; width:120px" type="text" id="reset">

					     	
				 			<button type="submit" class="btn subm btn-success" disabled="true" style="background-color:#009966">复电</button>
					   	</ul>

					</div>
					<input name="ID" type="hidden"/>
					<div class="mt_20">
						<ul style="height: 30px;  line-height: 30px; vertical-align:middle;margin:0  ">&nbsp;&nbsp;&nbsp;复电电话：
				 			<input name="ResetPhone"   class="time" style="height: 25px;  line-height: 25px; vertical-align:middle;width:120px " type="text">


					   	</ul>
			
					</div>
				</div>
			</div>
			</form>
			
<br/><br/><br/><br/>
