	<style>
			body{color: #555;}
			

			
			*{font-family:"'Arial Normal', 'Arial'"}
			.InputStyle{width:80px;color: #555;}
			.InputCss{width:80px;color: #555;}
			.AgreementInput{width:130px;margin-top:6px;color: #555;}
			.star{width:5px;color:red}
			.mt_20{margin-top:10px;width:100%;}
			.line{border:1px solid #009900;}
			.fly{float:left}
			.widthfull{width:100%}
			
			
			
			.TreeInput{width:115px;}
			.TwoInput{width:100px}
			.ButtomLeft{margin-left:230px}
			.Ht_50{height:50px;margin-top:20px;}
			/*面包屑导航需要用到的css*/
			.Breadcrumbs{background-color:white;margin-bottom:0}
			/*椭圆文字用到的css*/
			.ClientInfo{border:1px solid #009900;background:#009966;color:white;font-size:14px;height:25px;width:110px;padding-left:12px;padding-top:5px;}
			/*绿色横线使用的css*/
			.Horizontal{width:100%;float:left;height:1px;background-color:#009966;margin-top:-5px}
			
			/*基本信息表格用到的css*/
			.Warn{color:red}
			/*基本新表格用到的css*/
			.InfoTr{background-color:#F2FFFB}
			#info th{text-align:center;color:#009966;font-size: 14px;padding:6px 6px;}
			
			select , input[type="text"]{margin-bottom:0;padding:0;height:23px}
			.btn{background:#009966;color:white;font-weight: 12px;text-shadow:0 0 0;}
			
			.TableCss table{border-right:1px solid #009966;border-bottom:1px solid #009966;border-top:1px solid #009966;width:940px;} 

			.TableCss table td{border-left:1px solid #009966;border-top:1px solid #009966;text-align:right;vertical-align: middle} 
			.TableCss table th{border-left:1px solid #009966;border-top:1px solid #009966;text-align:right;padding:0;}
			
			.InputMargin{margin-top:5px;}

			.nav  a{color:white;}
			/*基本信息表格用到的css*/
			.RightHabitat{text-align:right;}
			.LeftHabitat{text-align:left;}

			/*覆盖bootstrap原有css*/
			.breadcrumb{padding:8px 0;}
			.nav{margin-bottom:5px;border:1px solid #009966;background-color:#009966;}
			.dropdown-toggle{color:white;}
			.nav .dropdown-toggle  .caret{border-top-color: white;border-bottom-color: white}
			.nav-tabs > li > a{border-radius:0}
			.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
				color: #ffffff;
				text-decoration: none;
				background-color: #009966;
				background-image: -moz-linear-gradient(top, #009966, #009966);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009966), to(#009966));
				background-image: -webkit-linear-gradient(top, #009966, #009966);
				background-image: -o-linear-gradient(top, #009966, #009966);
				background-image: linear-gradient(to bottom, #009966, #009966);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009966', endColorstr='#009966', GradientType=0);
			}

			.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
				color: #ffffff;
				background-color: #009966;
			}
			
			/*input[type="file"] {
				//line-height: 0px;
			}*/




		table select {
			height:25px;
			padding-bottom: 2px;
			margin:0;
			float: left;
			display: inline;
		}

		select{
			font-size:15px;
		}
		
		
   /* 弹出层 */
        .pop-box {   
            z-index: 99; /*这个数值要足够大，才能够显示在最上层*/  

            margin:0; 
            display: none;
            position:fixed;
        
        }  
         
        
        .pop-box-body {   
            clear: both;   
            padding:0 13px 13px 13px;
            margin: 0;   
        } 
        
        .mask {   
            width:100%;
            height:100%;
            position:fixed;
            top:0;
            left:0;
            background-color:#666;
            filter: Alpha(Opacity=80);
            -moz-opacity: 0.8;
            opacity: 0.8;
            z-index: 98; /*这个数值比pop box小*/ 
        } 
        
        .ui-datepicker-trigger{
        	width:22px;
        	height:25px;
        }

       #excel{color:#333;}

       #excelform{margin:0;}
    	
    	.LeftButton{
    		margin-left:90px;
    	}

    	.full {margin-left:4px;display:inline}

    	.breadcrumb > .active {
    		color:#333333;
    	}

    	.form-horizontal .control-group{
		    margin-bottom:10px;
		}
		.form-horizontal .control-label{
		    padding-top:0px;
		}