<script src="/ams/js/jquery.1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    /*  var height = (parseInt($(window).height())-132)/2;
        console.dir($(window).height());
      $("[name=login]").css("margin-top",height);
      $("#UserName").focus();
      $(window).resize(function(){
          height = (parseInt($(window).height())-132)/2;
          $("[name=login]").css("margin-top",height);
      })*/

      var Url = "/ams/index/loginCheck"

      $("button").click(function(){
        var data = $("form").serialize();
        PostAjax(Url,data,LocationUrl)
          
      
    })
      
    $("body").keydown(function() {
        if (event.keyCode == "13") {
            var data = $("form").serialize();
            PostAjax(Url,data,LocationUrl)
        }
    })

      function PostAjax(Url,data,func) 
      {
          $.ajax({
            url:Url,
            data:data,
            dataType:"json",
            type:'post',
            success:function(response){

                if (response.success) {
                    func(response.data);
                } else {
                    alert(response.msg);
                }  
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
              console.log(errorThrown);
            }
        })
      }

      function LocationUrl(value)
      {  
           window.location.href = '/ams/'+value;
      }
    })
</script>
<style>
     #content {
        position:absolute;
        top:50%;
        height:240px;
        margin-top:-120px; /* negative half of the height */
    }
</style>
<div  id="content"    name="login" style="width:470px;height:110px;border:1px solid #009966;padding-top:20px;padding-left:50px">
    <form >
  <div>
    <label  for="UserName">登录名：</label>
    <div >
      <input name="UserName" style="width:180px" type="text" id="UserName" placeholder="用户名">
    </div>
  </div>
  <div >
    <label for="inputPassword">密&nbsp;&nbsp;码：</label>
    <div >
      <input name="Password" style="width:168px;height:15px" type="password" id="inputPassword" placeholder="密码">
    </div>
  </div>
  <div >
    <div >
      <button type="button" class="btn">登录</button>
    </div>
  </div>
</form>
</div>
