<script type="text/javascript">
$(document).ready(function(){
	var G = new AjaxFun();

	var clickpage = new ClickPage(G,ShowTable);//分页

	var excel = new ExportExcel();
	excel.url = "/ams/export/reminder";
	excel.exportTo();

	var DrownBox = new DropDownBox()//获取三级下拉框
	DrownBox.select = {"Team":"td:eq(1)", "Name":"td:eq(3)", "Number":"td:eq(5)"};
	var data = {ID:"1",Type:"1"};
	var url = "/ams/Info/TeamList";
	G.GetAjax('get', url, data, DrownBox.SetAllSelect, true);

	$("#Condition").on("change","select:eq(0)",function(v){
		var id = $("select:eq(0)").val();
		var data = {ID:id,Type:"Name"};
		var url = "/ams/Info/UserList";
		G.GetAjax('get', url, data, DrownBox.SetAllSelect, true);

	})

	$("#Condition").on("change","select:eq(1)",function(v){
		var id = $("select:eq(1)").val();
		var data = {ID:id,Type:"Number"};
		var url = "/ams/Info/SegmentList";
		G.GetAjax('get', url, data, DrownBox.SetAllSelect, true);

	})

	var SearchUrl = "/ams/countsearch/customer";
	$("button:eq(0)").click(function(){
	
		data = $("form:eq(0)").serialize();
		excel.Todata = data;
		clickpage.Data = data;
		var SearchData = data+"&Page=1&PageSize="+PageSize; 
		
		G.GetAjax('post', SearchUrl, SearchData, ShowTable,true);
	})

	clickpage.SearchUrl = SearchUrl;
	Page = clickpage.ReturnPage();
	clickpage.PageClick();

	$("body").keydown(function() {
		var msg;
				if (event.keyCode == "13") {
					
					if ($("[name=Num]").focus()) {
						Page = $("[name=Num]").val();

						if (Page>PageNumber || Page<1) {
							msg = "总共只有"+PageNumber+"页。没有第"+Page+"页！";
							popupDiv('pop-div',msg);
							Page =1;
						
						}

						var SearchData = data+"&Page="+Page+"&PageSize="+PageSize;
						clickpage.Page = Page;
					
						G.GetAjax('post',SearchUrl,SearchData,ShowTable);
					}
					
				}
  	})

	function ShowTable(value,Total)
	{	

		if(value == null){
			$("#Arrears div").remove();
		
			$("#tip").css("display","block");
			return;
		}
		var title = '欠费用户信息';
		var v =  ReplaceArray(value,true);
		var headarray = Array("抄表段编号", "用户编号", "用户名称", "用电地址","房东电话" , "电费年月", "电费金额","费控标志", "结清标志", "停电标志", "催费次数", "停电次数" , "欠费笔数",  "累计欠费次数", "特殊客户", "租房客户");
		var modelcss = Array("text-align:center;width:90px", "text-align:center;width:70px","text-align:center;width:70px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis",  "text-align:center;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis",  "text-align:center;width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:80px", "text-align:center;width:80px", "text-align:center;width:85px", "text-align:center;width:90px", "text-align:center;width:90px",
                "text-align:center;width:90px", "text-align:center;width:80px", "text-align:center;width:80px", "text-align:center;width:120px", "text-align:center;width:80px", "text-align:center;width:80px");
	
		var model = Array("Segment", "CustomerNumber", "CustomerName", "Address", "LandlordPhone", "YearMonth", "Money", "IsControl", "IsClean", "IsCut", "PressCount", "CutCount", "ArrearCount", "AllArrearCount", "IsSpecial", "IsRent");
		
		
		SetArrearsTable('Arrears',value,headarray,title,model,false,modelcss,Total);
	}
	


	
	//代表number用户编号，s数据是填充表格的数据，headarray是表头,title是表格上的标题
	function SetArrearsTable(select,s,headarray,title,model,th,modelcss,total)
	{	
		PageNumber = Math.ceil(total/PageSize);
		Page = clickpage.ReturnPage();
		var bodyTpl = "";
		var headmodel = "";
		var tr = "";
		var text;
		var d =1;
		var PTpl;
		if (s) {
			for (var i in s) {
		
				var number = s[i].CustomerNumber;
				var source = ReplaceArray(s[i]);
				bodyTpl += '<tr style="height:20px;">'+
					'<td style="text-align:center">'+d+'</td>';
					for (var n in model) {
						if (model[n] == "CutCount" || model[n] == "PressCount" || model[n] == "CustomerNumber") {
							bodyTpl +='<td id="'+model[n]+'" title="'+source.ID+'/'+number+'/'+source.YearMonth+'" style="text-decoration:underline;cursor:pointer;'+modelcss[n]+'">'+source[model[n]]+'</td>';
						} else {
							if (model[n] == "IsClean" ) {
								if (s[i][model[n]] == 1) {
									text = "是";
								} else if(s[i][model[n]] == 0) {
									text = "否";
								} else if(s[i][model[n]] == 2) {
									text = "预收转逾期";
								}
							}  else if ( model[n] == 'IsControl' ||  model[n] == 'IsRent' || model[n] == 'IsSpecial') {
                                if (s[i][model[n]] == 1) {
                                    text = "是";
                                } else if(s[i][model[n]] == 0) {
                                    text = "否";
                                }
                            } else if (model[n] == "IsCut") {
								if (source[model[n]] == 2) {
									text = "全部";
								} else if (source[model[n]] == 1){
									text = "已停电";
								} else {
									text = "未停电";
								}
							} else if( model[n] == "CustomerName" || model[n] == "Address"){

								text = '<div title="'+s[i][model[n]]+'" style="'+modelcss[n]+'">'+source[model[n]]+'</div>';
							} else {
								
								text = source[model[n]];
							}
							bodyTpl += '<td style="'+modelcss[n]+'">'+text+'</td>';
						}
						
					}
		        bodyTpl +='</tr>';
		       
		        d++;
		        
			}
			
		}
		if (PageNumber == 1) {
			PTpl="";
		} else {
			if ( Page == 1 ) {

				PTpl = "<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page < PageNumber && Page!= 1 ) {
				PTpl = "<span id='start' style='cursor:pointer'>首页</span>&nbsp;&nbsp;<span id='prev' style='cursor:pointer'>上一页</span>&nbsp;&nbsp;<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page == PageNumber) {
				PTpl = "<span id='start' style='cursor:pointer'>首页</span>&nbsp;&nbsp;<span id='prev' style='cursor:pointer'>上一页</span>";
			} 
		}

		var CurrentNum = s.length;
        var stylecss = '<div style="width:940px;overflow:scroll;overflow-y:hidden;border:1px solid #009966;border-top:none">';
		var pageTpl = '<tr >'+
			    '<td id="PageNum" colspan="17" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;当前第<input name="Num" type="text" value="'+Page+'" style="width:12px;padding:0 8px"  />页，总共'+PageNumber+'页&nbsp;&nbsp;'+PTpl+
			    '&nbsp;&nbsp;<span>本页'+CurrentNum+'条数据，总共'+total+'条数据</span></td>';

        var width = model.length*100;
        if (width < 940) {
            width = '940px';
        }  else {
            width += 'px';
        }
		var headTpl = '<div><div class="line ClientInfo" >'+title+'</div>'+stylecss+'<table id="info" style="width:'+width+'" >'+
		    		'<thead>'+
			    	'<tr >'+
			    	'<th style="width:40px">序号</th>';

    	for (var i in headarray) {
    		headmodel +='<th style="'+modelcss[i]+';text-align:center">'+headarray[i]+'</th>';
    	}
		            
    	if (!th){
			 tr = pageTpl+'<tr>'+
			        '<td colspan="17" style="text-align:left;" ><form name="excelform" id="excelform" method="post" target="put_excel" >&nbsp;&nbsp;&nbsp;&nbsp;导出文件：&nbsp;&nbsp;<span  id="excel" style="cursor:pointer"><img  src="/ams/public/images/Excel.png" style="height:25px;width:25px"/></span></form></td>';
		}  
	    var footTpl = tr+'</tr></thead><tbody></tbody></table></div></div>';

	    var tpl = headTpl+headmodel+bodyTpl+footTpl;

	    $("#Arrears div").remove();

	    $("#Arrears").append(tpl);
	    $("#tip").css("display","none");
		$("#Arrears table tr:odd").addClass("InfoTr");
		$("#Entry").css("display","block");

	}

	
})
</script>
<link rel="stylesheet" href="/ams/css/jquery-ui.css">
<script src="/ams/js/jquery-ui.js"></script>
<script src="/ams/js/jquery-ui-date.js"></script>
		    <br />
		    
		    <div id="Condition" class="TableCss" >
		    	<div   class="line ClientInfo" >查询条件</div>
                <form >
                    <table style="table-layout:fixed">
                        <tr >
                            <td class="RightHabitat" name="one">管理班组：</td>
                            <td style="width:110px">
                            </td>
                            <td class="RightHabitat" name="one">抄表员：</td>
                            <td style="width:110px">

                            </td>
                            <td class="RightHabitat"  name="one">抄表段编号：</td>
                            <td style="width:110px">

                            </td>
                            <td class="RightHabitat" name="one">用户编号：</td>
                            <td style="width:104px"><input name="CustomerNumber" type="text" style="width:112px;float: left;"/></td>
                        </tr>
                        <tr>
                            <td class="RightHabitat">电费年月：</td>
                            <td colspan="3" style="text-align:left">
                                <input name="FromData" style="width:120px" type="text" id="from" />&nbsp;&nbsp;<div style="display:inline;margin-left:20px;*margin-left:25px;margin-left:25px\0"></div>至&nbsp;&nbsp;<input name="ToData" style="width:120px;margin-left:8px;*margin-left:12px;margin-left:11px\0" type="text" id="to">
                            </td>
                            <td class="RightHabitat">欠费金额：</td>
                            <td>
                                <select  name="Arrears" style="width:40px;float:left">
                                    <option value="1"> ≥ </option>
                                    <option  value="0">< </option>
                                </select><input name="ArrearsValue" type="text" style="width:78px;float: left" /></td>
                            <td class="RightHabitat">催费次数：</td>
                            <td ><select name="ReminderFee" style="width:40px;float:left">
                                <option value="1">≥</option>
                                <option value="0"><</option>
                            </select>
                                <input name="ReminderFeeValue" type="text" style="width:72px;float: left;"  />
                            </td>
                        </tr>
                        <tr >
                            <td class="RightHabitat" >电话有效：</td>
                            <td  style="text-align:left">
                                <select name="PhoneEffective" style="width:120px;">
                                    <option value="2">全部</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </td>
                            <td class="RightHabitat">欠费笔数：</td>
                            <td >
                                <select name="ArrearsItems" style="width:40px;float:left">
                                    <option value="2">≥</option>
                                    <option value="1">=</option>
                                    <option value="0"><</option>
                                </select>
                                <input name="ArrearsItemsValue" type="text" style="width:78px;float: left;" />
                            </td>
                            <td class="RightHabitat">停电标志：</td>
                            <td >
                                <select name="PowerCutLogo" style="width:120px">
                                    <option value="2">全部</option>
                                    <option value="1">已停电</option>
                                    <option value="0">未停电</option>
                                </select>
                            </td>
                            <td ></td>
                            <td >
                            </td>
                        </tr>
                        <tr >
                            <td class="RightHabitat" >费控标志：</td>
                            <td style="text-align:left">
                                <select name="IsControl" style="width:120px; ">
                                    <option value="2">全部</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </td>
                            <td class="RightHabitat">租房客户：</td>
                            <td style="text-align:left">
                                <select name="IsRent" style="width:120px">
                                    <option value="2">全部</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </td>
                            <td class="RightHabitat">停电次数：</td>
                            <td >
                                <select name="PowerOutages" style="width:40px;float:left">
                                    <option value="1">≥</option>
                                    <option value="0"><</option>
                                </select>
                                <input name="PowerOutagesValue" type="text" style="width:78px;float: left;" />
                            </td>

                            <td style="text-align:center"  colspan="2">
                                <button type="button"  class="btn btn-success" style="background-color:#009966" >查询</button>
                            </td>
                        </tr>
                    </table>
                </form>
		    </div>
		    <div id="tip" style="color:red;margin-left:12px;display:none;margin-top:-15px;*margin-top:4px">
				当前查询没有数据
			</div>
		
		    <div id="Arrears" class="TableCss">
		    	<div></div>
		    </div>
		    <br /><br /><br /><br />