<script type="text/javascript">
$(document).ready(function(){

	var G = new AjaxFun();
	var clickpage = new ClickPage(G,SetTable);//分页


	var excel = new ExportExcel();
	excel.url = "/ams/export/countpress";
	excel.exportTo();


	var DrownBox = new DropDownBox()//获取三级下拉框
	DrownBox.select = {"Team":"#team", "Name":"#name"};

	var data = {ID:"1",Type:"1"};
	var url = "/ams/Info/TeamList";
	G.GetAjax('get',url,data,DrownBox.SetAllSelect);

	$("#team").on("change","select:eq(0)",function(v){
		var id = $("select:eq(0)").val();
		var data = {ID:id,Type:"Name"};
		var url = "/ams/Info/UserList";
		G.GetAjax('get',url,data,DrownBox.SetAllSelect);

	})
	
	var SearchUrl = "/ams/countsearch/press";
	$("button:eq(0)").click(function(){

		data = $("form").serialize();
		clickpage.Data = data;
		excel.Todata = data;
		
		var SearchData = data+"&Page=1&PageSize="+PageSize;
		G.GetAjax('get',SearchUrl,SearchData,SetTable,true);
	})

	clickpage.SearchUrl = SearchUrl;
	Page = clickpage.ReturnPage();
	clickpage.PageClick();

	$("body").keydown(function() {
		var msg;
				if (event.keyCode == "13") {
					
					if ($("[name=Num]").focus()) {
						Page = $("[name=Num]").val();

						if (Page>PageNumber || Page<1) {
							msg = "总共只有"+PageNumber+"页。没有第"+Page+"页！";
							popupDiv('pop-div',msg);
							Page =1;
						
						}

						var SearchData = data+"&Page="+Page+"&PageSize="+PageSize;
						clickpage.Page = Page;
					
						G.GetAjax('post',SearchUrl,SearchData,SetTable);
					}
					
				}
  	})

	//添加表格
	function SetTable(value) 
	{

		if (value.Data.length == 0){

			$("#Arrears div").remove();
			$("#tip").css("display","block");

			return ; 

		}
		var v =  ReplaceArray(value.Data,true);
		
		var title = '汇总信息';
		var array = Array("抄表段编号", "用户编号", "用户名称", "用电地址", "电费年月", "电费金额", "催费时间", "催费方式", "结清标志");
	
		var model = Array("Segment", "CustomerNumber", "Name", "Address", "YearMonth", "Money", "PressTime", "PressStyle", "IsClean");
		var modelcss = Array("text-align:center;width:80px", "text-align:center;width:80px", "text-align:center;width:70px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis",  "text-align:left;width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:70px", "text-align:center;width:70px", "text-align:center;width:85px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis", "text-align:center;width:80px");
		var total = value.TotalData.Count;
		var Money = value.TotalData.Money;
		var Phone = value.TotalData.Phone;
		var Nofify = value.TotalData.Nofify;

		SetArrearsTable('Arrears', v,array,title,model,false,modelcss,total,Money,Phone, Nofify);


	}

	//欠费信息表格
	//代表 select是选择器，number用户编号，s数据是填充表格的数据，headarray是表头,title是表格上的标题
	function SetArrearsTable(select,s,headarray,title,model,th,modelcss,total,Money,Phone, Nofify)
	{	
		PageNumber = Math.ceil(total/PageSize);
		Page = clickpage.ReturnPage();
		var text;
		var bodyTpl = "";
		var headmodel = "";
		var tr = "";
	
		var d = 1;
		var PTpl;
		if (s) {
			for (var i in s) {
				var number = s[i].CustomerNumber
				bodyTpl += '<tr style="height:20px">'+
					'<td style="text-align:center">'+d+'</td>';
					for (var n in model) {
						if (model[n] == "CutCount" || model[n] == "PressCount" || model[n] == "CustomerNumber") {
							bodyTpl +='<td id="'+model[n]+'" title="'+s[i].ID+'/'+number+'/'+s[i].YearMonth+'" style="text-decoration:underline;cursor:pointer;'+modelcss[n]+'">'+s[i][model[n]]+'</td>';
						} else {
							if (model[n] == "IsClean") {
								if (s[i][model[n]] == 1) {
									text = "是";
								} else if(s[i][model[n]] == 0) {
									text = "否";
								} else if(s[i][model[n]] == 2) {
									text = "预收转逾期";
								}
							} else if (model[n] == "Address" || model[n] == "PressStyle" || model[n] ==  "Name" || model[n] == "PressTime"){
								text = '<div title="'+s[i][model[n]]+'" style="'+modelcss[n]+'">'+s[i][model[n]]+'</div>';
							} else {
								text = s[i][model[n]];
							}
							bodyTpl += '<td style="text-align:center">'+text+'</td>';
						}
					}
		        bodyTpl +='</tr>';
		        d++;
			}
		}
		
		if (PageNumber == 1) {
			PTpl="";
		} else {
			if ( Page == 1 ) {
				PTpl = "<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page < PageNumber && Page!= 1 ) {
				PTpl = "<span id='start' style='cursor:pointer'>首页</span>&nbsp;&nbsp;<span id='prev' style='cursor:pointer'>上一页</span>&nbsp;&nbsp;<span id='next' style='cursor:pointer'>下一页</span>&nbsp;&nbsp;<span id='end' style='cursor:pointer'>末页</span>";
			} else if (Page == PageNumber) {
				PTpl = "<span id='start' style='cursor:pointer'>首页</span>&nbsp;&nbsp;<span id='prev' style='cursor:pointer'>上一页</span>";
			} 
		}

		var CurrentNum = s.length; 
		var pageTpl = '<tr >'+
			    ''+
			    '<td id="PageNum" colspan="10" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;当前第<input name="Num" type="text" value="'+Page+'" style="width:12px;padding:0 8px"  />页，总共'+PageNumber+'页&nbsp;&nbsp;'+PTpl+
			    '&nbsp;&nbsp;<span >本页'+CurrentNum+'条数据，总共'+total+'条数据</span></td>';

		var headTpl = '<div><div class="line ClientInfo" >'+title+'</div><table id="info"  >'+
		    		'<thead>'+
			    	'<tr >'+
			    	'<th style="width:40px">序号</th>';

    	for (var i in headarray) {
    		headmodel +='<th style="'+modelcss[i]+';text-align:center">'+headarray[i]+'</th>';
    	}

		if (!th){
			 tr = pageTpl+'<tr>'+
			        '<td colspan="10" style="text-align:left" ><form name="excelform" id="excelform" method="post" target="put_excel" >&nbsp;&nbsp;&nbsp;&nbsp;导出文件：&nbsp;&nbsp;<span  id="excel" style="cursor:pointer"><img  src="/ams/public/images/Excel.png" style="height:25px;width:25px"/></span>&nbsp;&nbsp;</form></td>'+
			     '</tr>'+
			     '<td colspan="10" style="text-align:left" >&nbsp;&nbsp;&nbsp;&nbsp;共计：电话催费'+Phone+'笔，通知单催费'+Nofify+'笔，共计'+Money+'元。</td>'+
				            '</tr>';
		}   
    	
	    var footTpl = tr + '</tr></thead><tbody></tbody></table></div>';
	    var tpl = headTpl+headmodel+bodyTpl+footTpl;
	    var selected = "#"+select;
	    $(selected+" div").remove();
	    $(selected).append(tpl);
		$(selected+" table tr:even").addClass("InfoTr");
		$(selected+" table tr:eq(0)").removeClass("InfoTr");
		$("#tip").css("display","none");
	}
	$("#time").val(AgoTime);
	$("#Totime").val(CurrentTime);
})


</script>


<link rel="stylesheet" href="/ams/css/jquery-ui.css">
<script src="/ams/js/jquery-ui.js"></script>
<script src="/ams/js/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" type="text/css" href="/ams/css/jquery-ui-timepicker-addon.css">
<script src="/ams/js/jquery-ui-date.js"></script>
<div>
	<br />
	<div   class="line ClientInfo" >查询条件</div>
	<div style="border:1px solid #009966;height:135px">
		<div style="margin-left:12px;margin-top:15px">
			<form>
				<div>
						<span >管<div class="full"></div>理<div class="full"></div>班<div class="full"></div>组：</span>
						<span id="team">
							
						</span>
						&nbsp;&nbsp;&nbsp;
						<span id="name">
						<span >抄表员：</span>
							
						</span>
					
				</div>
				<div style="margin-top:15px;*margin-left:-2px">
						<span >催费时间至：</span>
						<input  name="FromData"style="width:120px;" type="text" id="time" />
						&nbsp;&nbsp;<div v style="display:inline;margin-left:16px;margin-left:10px\0;*margin-left:7px"></div><span >至</span>&nbsp;&nbsp;
						<input  name="ToData" style="width:120px;margin-left:-1px;margin-left:5px\0;*margin-left:8px" type="text" id="Totime" />
						
						
				</div>
			</form>
			<button  type="button" class="btn btn-success LeftButton" style="background-color:#009966;margin-top:-10px">查询</button>
		</div>
	</div>

</div>
<div id="tip" style="color:red;margin-left:12px;display:none;margin-top:4px;">
				当前查询没有数据
	</div>
<br />
<div id="Arrears" class="TableCss">
	<div></div>
</div><br/><br/><br/><br/>

