
<?php
$this->pageTitle = "系统设置";
?>
<script type="text/javascript">

Ext.onReady(function () {
    var searchPanel= new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:68,
        plain:true,
        bodyStyle: 'padding:8px',
        defaults:{autoScroll: true},
        items:[{
            title: '用户查询',
            xtype: 'panel',
            items: [{
                xtype: 'compositefield',
                width:500,
                items: [{
                    xtype: 'displayfield',
                    style: 'text-align:right;width:85px;',
                    value: '<a style="color:red;">*</a>用户编号: '
                },{
                    xtype: 'textfield',
                    id:'searchNumber',
                    width: 220
                },{
                    width:100,
                    xtype:'button',
                    text:'查询',
                    handler:function(){
                        var number = Ext.getCmp('searchNumber').getValue();
                        if (number == "") {
                            Ext.MessageBox.alert("提示","没有数据！");
                            return;
                        }
                        infoPanel.getForm().load({
                            url:'SingleInquiries?Number='+number,
                            success:function() {
                                listView.store.load({
                                    params : {Number : number },
                                    callback:function(v){
                                        if (v.length == 0) {
                                            listView.store.removeAll();
                                            Ext.MessageBox.alert("提示","没有数据！");
                                        }
                                    },
                                    add: false
                                })
                            },
                            failure:function(action,msg) {
                                var text = Ext.decode(msg.response.responseText);
                                if (!text.success) {
                                    infoPanel.getForm().reset();
                                    listView.store.removeAll();
                                    Ext.Msg.alert('提示',text.msg);return;
                                }
                            }
                        })
                    }
                }]
            }]
        }]
    });

    var infoPanel = new Ext.FormPanel({
        labelWidth: 80,
        title: '用户信息',
        labelAlign: 'right',
        defaults:{
            border: false
        },
        style: 'margin-top:10px',
        layout:'column',
        items: [{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '管理班组',
                name: 'Team',
                anchor:'95%'
            },{
                fieldLabel: '用电地址',
                name: 'Address',
                anchor:'95%'
            },new QuietCombox({
                fieldLabel: '特殊客户',
                displayField:'Text',
                valueField:'IsSpecial',
                hiddenName:'IsSpecial',
                fields:['Text','IsSpecial'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            }),new QuietCombox({
                fieldLabel: '是否租房',
                displayField:'Text',
                valueField:'IsRent',
                hiddenName:'IsRent',
                fields:['Text','IsRent'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            }),{
                fieldLabel: '累计欠费次数',
                name: 'AllArrearCount',
                anchor:'95%'
            }]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '抄表员',
                name: 'SegUser',
                anchor:'95%'
            },new QuietCombox({
                fieldLabel: '停电标志',
                displayField:'Text',
                valueField:'IsCut',
                hiddenName:'IsCut',
                fields:['Text','IsCut'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            }),{
                fieldLabel: '抄表段编号',
                name: 'Segment',
                anchor:'95%'
            },{
                fieldLabel: '房东电话',
                name: 'LandlordPhone',
                anchor:'95%'
            },{
                fieldLabel: '备注',
                name: 'Desc',
                anchor:'95%'
            }]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '用户编号',
                name: 'Number',
                anchor:'95%'
            },{
                fieldLabel: '电表资产号',
                name: 'AssetNumber',
                anchor:'95%'
            },{
                fieldLabel: '停电方式',
                name: 'CutStyle',
                anchor:'95%'
            },{
                fieldLabel: '房客电话',
                name: 'RenterPhone',
                anchor:'95%'
            }]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '用户名称',
                name: 'Name',
                anchor:'95%'
            },new QuietCombox({
                fieldLabel: '费控标志',
                displayField:'Text',
                valueField:'IsControl',
                hiddenName:'IsControl',
                fields:['Text','IsControl'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            }),{
                fieldLabel: '欠费原因',
                name: 'Cause',
                anchor:'95%'
            }]
        }]
    });

    var store = new Ext.data.JsonStore(
            {
                id: 'tvliststore',
                url: 'singleInquiriesList',
                root: 'data',
                fields: chargesMoneyFields
            });

    var listView = new Ext.grid.GridPanel(
            {
                store: store,
                multiSelect: true,
                title: '电费信息',
                stripeRows: true,
                region: 'center',
                autoHeight:true,
                emptyText: '没有节目',
                //autoExpandColumn: 'name',
                reserveScrollOffset: true,
                viewConfig: {forceFit:true},
                columns: [
                    {
                        header: '电费年月',
                        sortable: true,
                        align:"center",
                        dataIndex: 'YearMonth'
                    }, {
                        header: '电费金额',
                        dataIndex: 'Money',
                        align:"center",
                        sortable: true
                    }, {
                        header: '结清标志',
                        sortable: true,
                        align:"center",
                        dataIndex: 'IsClean',
                        renderer:function(v) {
                            if (v == 1) {
                                return '已结清';
                            } else {
                                return '未结清';
                            }
                        }
                    }, {
                        header: '停电标志',
                        sortable: true,
                        align:"center",
                        dataIndex: 'IsCut',
                        renderer:function(v) {
                            if (v == 1) {
                                return '已停电';
                            } else {
                                return '未停电';
                            }
                        }
                    }, {
                        header: '催费次数',
                        sortable: true,
                        align:"center",
                        dataIndex: 'PressCount'
                    },
//                    {
//                        header: '停电次数',
//                        sortable: true,
//                        align:"center",
//                        dataIndex: 'CutCount'
//                    },
                    {
                        header: '收费人',
                        sortable: true,
                        align:"center",
                        dataIndex: 'Charge'
                    },{
                        header: '收费日期',
                        sortable: true,
                        align:"center",
                        dataIndex: 'ChargeDate'
                    }]
            });


    var infoTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:180,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            infoPanel
        ]
    });

    var moneyTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            listView
        ]
    });
    var allPanel = new Ext.Panel({
        region: 'center',
        fileUpload: true,
        autoScroll: true,
        bodyStyle: "padding:20px;",
        items: [
            searchPanel,
            infoTab,
            moneyTab
        ]
    });
    new Ext.Viewport(
            {
                layout: 'border',
                items: [
                    allPanel
                ]
            });

});

</script>