<script type="text/javascript">
$(document).ready(function(){
	var G = new AjaxFun();


	$("button:eq(0)").click(function(){
		var ID = $("input:eq(0)").val();

		if (ID == "") {
			ID = -1;
		}
		var data = {Number:ID};

		var url = "/ams/Count/SingleInquiries";
		G.GetAjax('get',url,data,SetTable,true);
	});

	//添加表格
	function SetTable(value)
	{

		if (value == null){

			$("#info div").remove();
			$("#Arrears div").remove();

			$("form").css("display","none");
			$("#tip").css("display","block");
			return ;

		}
		var Customer =  ReplaceArray(value.Customer);
		var List =  ReplaceArray(value.List);
		SetInfoTable(Customer);

		var title = '电费信息';
		var array = Array("电费年月", "电费金额", "结清标志", "停电标志", "催费次数", "停电次数", "收费人", "收费日期");
		var model = Array("YearMonth", "Money", "IsClean", "IsCut", "PressCount", "CutCount", "Charge", "ChargeDate");
		var modelcss = Array("text-align:center", "text-align:center", "text-align:center", "text-align:center",  "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center");
		SetArrearsTable( List, array, title, model, modelcss);
	}


	//用户信息表格
	function SetInfoTable(value)
	{
		var IsCutText;
		var IsRentText;
		var IsControlText;
		var IsSpecialText;
		if (value.IsCut == 2 ){ IsCutText = '全部'} else if( value.IsCut ==1) { IsCutText = '已停电'} else { IsCutText = '未停电'}
		if (value.IsRent == 2 ){ IsRentText = '全部'} else if( value.IsRent ==1) { IsRentText = '是'} else { IsRentText = '否'}
		if (value.IsControl == 2 ){ IsControlText = '全部'} else if( value.IsControl ==1) { IsControlText = '是'} else { IsControlText = '否'}
		if (value.IsSpecial == 2 ){ IsSpecialText = '全部'} else if( value.IsSpecial ==1) { IsSpecialText = '是'} else { IsSpecialText = '否'}
		var tpl = '<div><div   class="line ClientInfo" >用户详细信息</div><table  >'+
	        '<tr >'+
	            '<td  style="width:116px">管理班组：</td>'+
	            '<td style="text-align:left;width:120px">'+value.Team+'</td>'+
	            '<td style="width:116px">抄表员：</td>'+
	            '<td style="text-align:left;width:116px">'+value.SegUser+'</td>'+
	            '<td style="width:116px">用户编号：</td>'+
	            '<td style="text-align:left;width:116px">'+value.Number+'</td>'+
	            '<td style="width:116px">用户名称：</td>'+
	            '<td style="text-align:left;width:116px"><div title="'+value.Name+'" style="width:110px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">'+value.Name+'</div></td>'+
	        '</tr>'+
	        '<tr>'+
	            '<td >用电地址：</td>'+
	            '<td colspan="3" style="text-align:left"><div title="'+value.Address+'" style="width:350px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">'+value.Address+'</div></td>'+
	            '<td >抄表段编号：</td>'+
	            '<td style="text-align:left">'+value.Segment+'</td>'+
	            '<td >电表资产号：</td>'+
	            '<td style="text-align:left">'+value.AssetNumber+'</td>'+
	        '</tr>'+
	        '<tr>'+
	            '<td >特殊客户：</td>'+
	            '<td class="Warn" style="text-align:left">'+IsSpecialText+'</td>'+
	            '<td >停电标志：</td>'+
	            '<td class="Warn" style="text-align:left">'+IsCutText+'</td>'+
	            '<td  >停电方式：</td>'+
	            '<td class="Warn" style="text-align:left">'+value.CutStyle+'</td>'+
	            '<td >费控标志：</td>'+
	            '<td class="Warn" style="text-align:left">'+IsControlText+'</td>'+
	        '</tr>'+
	        '<tr>'+
	            '<td >租房客户：</td>'+
	            '<td style="text-align:left">'+IsRentText+'</td>'+
	            '<td >房东电话：</td>'+
	            '<td style="text-align:left">'+value.LandlordPhone+'</td>'+
	            '<td >房客电话：</td>'+
	            '<td style="text-align:left">'+value.RenterPhone+'</td>'+
	            '<td >欠费原因：</td>'+
	            '<td style="text-align:left"><div style="width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">'+value.Cause+'</div></td>'+
	        '</tr>'+
	        '<tr>'+
               '<td >累计欠费次数：</td>'+
                '<td style="text-align:left">'+value.ArrearsCount+'</td>'+
	            '<td >备注：</td>'+
	            '<td style="text-align:left" colspan="5" ><div style="width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">'+value.Desc+'</div></td>'+
	        '</tr>'+
	    '</table></div>';
	    $("#info div").remove();
	    $("#info").append(tpl);
	}




	//欠费信息表格
	//代表number用户编号，s数据是填充表格的数据，headarray是表头,title是表格上的标题
	function SetArrearsTable( s, headarray, title, model, modelcss)
	{
		var s =  ReplaceArray(s);
		var bodyTpl = "";
		var headmodel = "";
		var money = 0;
		var d = 1;
		var text;
		if (s) {
			for (var i in s) {
				var number = s[i].CustomerNumber;
				var source = ReplaceArray(s[i]);
				bodyTpl += '<tr style="height:20px">'+
					'<td style="width:50px;text-align:center">'+d+'</td>';
					for (var n in model) {
						if (model[n] == "CutCount" || model[n] == "PressCount" || model[n] == "Number") {
							bodyTpl +='<td  id="'+model[n]+'" title="'+source.ID+'/'+number+'/'+source.YearMonth+'" style="text-decoration:underline;cursor:pointer;'+modelcss[n]+'">'+source[model[n]]+'</td>';
						} else {
							if (model[n] == "IsClean") {
								if (source[model[n]] == 2) {
									text = text = '<div style="'+modelcss[n]+'" title="预收转逾期">预收转逾期</div>';
								} else if (source[model[n]] == 1){
									text = text = '<div style="'+modelcss[n]+'" title="已结清">是</div>';
								} else {
									text = text = '<div style="'+modelcss[n]+'" title="未结清">否</div>';
								}
							} else if(model[n] == "IsCut"){
								if (source[model[n]] == 2) {
									text = text = '<div style="'+modelcss[n]+'" title="全部">全部</div>';
								} else if (source[model[n]] == 1){
									text = text = '<div style="'+modelcss[n]+'" title="已停电">已停电</div>';
								} else {
									text = '<div style="'+modelcss[n]+'" title="未停电">未停电</div>';
								}
							} else {
								text = '<div style="'+modelcss[n]+'" title="'+source[model[n]]+'">'+source[model[n]]+'</div>';
							}
							bodyTpl += '<td  style="'+modelcss[n]+'" >'+text+'</td>';
						}
					}
		        bodyTpl +='</tr>';
		        money += parseInt(s[i].Money);
			}
			d++;
		}

		var headTpl = '<div><div class="line ClientInfo" >'+title+'</div><table id="info"  >'+
		    		'<thead>'+
			    	'<tr >'+
			    	'<th >序号</th>';

    	for (var t in headarray) {
    		headmodel +='<th>'+headarray[t]+'</th>';
    	}
		d = parseInt(d)-1;
    	var tr = '<tr>'+
			        '<td colspan="9" style="text-align:left" >&nbsp;&nbsp;&nbsp;&nbsp;共计：欠费'+d+'笔，'+money+'元。</td>'+
			     '</tr>';
	    var footTpl = tr + '</tr></thead><tbody></tbody></table></div>';

	    var tpl = headTpl+headmodel+bodyTpl+footTpl;

	    $("#Arrears div").remove();
	    $("#Arrears").append(tpl);
	    $("#tip").css("display","none");
		$("#Arrears table tr:odd").addClass("InfoTr");

	}

})

</script>
<br />
<div class="line ClientInfo" >查询条件</div>
	<div style="border:1px solid #009966;height:60px;">

		<div class=" mt_20" style="margin-top:15px">


			<div class=" InputStyle" style="margin-left:12px;float:left;margin-top:2px;*margin-top:4px">用户编号：</div>

		    <div class=" TreeInput" style="margin-left:5px;float:left;margin-left:-2px">

		      <input type="text" class="input-small" style="width:120px" >

		    </div>

		    <button type="button" class="btn btn-success" style="background-color:#009966;margin-left:20px" >查询</button>

		</div>
	</div>
	<div id="tip" style="color:red;margin-left:12px;margin-top:4px;display:none">
				当前查询没有数据
	</div>
	<br />
	<div  id="info" class="TableCss" >
		<div></div>
	</div>
	<br />

	<div id="Arrears" class="TableCss">
		<div></div>
	</div>
	<br/><br/><br/><br/>