<script>
$(document).ready(function(){

    var fileupload = new ApcFile();
    fileupload.url ="/ams/import/progress";
    fileupload.progress_key = $("#progress_key").val();

    $("iframe").load(function(v){
        var data =  window.frames["frm_dealer"].document.documentElement.innerText;
        if (data) {
            var jsonData = eval('('+data+')');
            popupDiv('pop-div',jsonData.msg,'',true);
        }
    })


    $("[name=file]").change(function(v){
        var filename = v.currentTarget.value;

        if (filename) {
            var length = filename.lastIndexOf(".");
            var extension= filename.substr(length);
        
            extension = extension.toLowerCase();
         
            if (extension != ".xlsx" && extension != ".xls") {
                popupDiv('pop-div',"上传的文件格式不正确，请上传Excel表格（xls格式文件）!");
                $("button:eq(0)").attr("disabled","true");
 
            } else {
                $("button:eq(0)").removeAttr("disabled");
            }
        } else {
                popupDiv('pop-div',"你没有上传文件");
        }
        
    })

    start = function () {
        fileupload.startProgress()
    }
})
</script>

<br />
<iframe name="frm_dealer" style="display:none"></iframe>
<form action="AdvanceUpload" method="post" enctype="multipart/form-data"  target="frm_dealer" >
		    <div class="line ClientInfo" style="font-size:15px;width:130px">预存电费数据导入</div>
		    <div style="border:1px solid #009966;height:130px">
			    <div class=" mt_20" style="width:100%;height:25px;margin-top:15px">

			    	<div class=" InputStyle" style="margin-left:10px;float:left;*margin-top:10px;">预存数据：</div>
				    <div class=" TreeInput" style="margin-left:5px;float:left;margin-top:-5px">
                         <input type="hidden" name="APC_UPLOAD_PROGRESS"    id="progress_key"  value="<?php echo uniqid(mt_srand()); ?>" />  
				        <input name="file" type="file" style="height:25px;line-height: 25px; vertical-align:middle;width：115px ;margin-top:2px;*margin-top:12px" />
				    </div>
				
				
				</div>
				<div class=" mt_20" style="width:100%;height:20px;*margin-top:20px">

			    	<div style="margin-left:10px;float:left">预存电费数据文件模板下载：</div>
				    <div  style="margin-left:5px;float:left;cursor:pointer">
				        	<a style="color:#333" href="/ams/public/download/模板-欠费明细.xls"><img  src="/ams/public/images/Excel.png" style="height:16px;width:16px"/></a>
				    </div>
				</div>
				<br />
		    	<button style="margin-left:100px;background-color:#009966;" disabled type="submit" onclick="window.start();return true;"  class="btn LeftButton  btn-success">提交</button>
		    </div>
</form>


<div id="progressouter" style=  
   "width: 940px; height: 20px; border: 1px solid #009966; display:none;">  
   <div id="progressinner" style=  
       "position: relative; height: 20px; background-color: #009966; width: 0%; ">  
   </div>  
</div>  
<br />  
<div id='showNum'></div><br> 