
<?php
$this->pageTitle = "系统设置";
?>
<script type="text/javascript">

Ext.onReady(function () {
    var searchPanel= new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:68,
        plain:true,
        defaults:{autoScroll: true},
        items:[{
            title: '用户查询',
            xtype: 'panel',
            style:'margin-top:10px;margin-bottom:8px;',
            items: [{
                xtype: 'compositefield',
                width:500,
                items: [{
                    xtype: 'displayfield',
                    style: 'text-align:right;width:85px;',
                    value: '<a style="color:red;">*</a>用户编号: '
                },{
                    xtype: 'textfield',
                    id:'searchNumber',
                    width: 220
                },{
                    width:100,
                    xtype:'button',
                    text:'查询',
                    handler:function(){
                        var number = Ext.getCmp('searchNumber').getValue();
                        if (number == "") {
                            Ext.Msg.alert('提示',"编号不能为空");
                            return;
                        }
                        infoPanel.getForm().load({
                            url:'/ams/Charges/Customer?ID='+number,
                            success:function(c,action) {
                                var text = Ext.decode(action.response.responseText);
                                if (text.data.IsCut == 1) {
                                    Ext.getCmp('IsCutId').getEl().dom.style.color = "red";
                                    Ext.getCmp('CutStyleId').getEl().dom.style.color = "red";
                                }
                                Ext.getCmp('LandlordPhone').setValue(text.data.LandlordPhone);
                                Ext.getCmp('RenterPhone').setValue(text.data.RenterPhone);
                                Ext.getCmp('IsRent').setValue(text.data.IsRent);
                                Ext.getCmp('IsControl').setValue(text.data.IsControl);
                                listView.store.removeAll();
                                listView.store.load({
                                    params : {ID : number },
                                    scope: store,
                                    callback:function(v,action){
                                        if (v.length == 0) {
                                            listView.store.removeAll();
                                            Ext.MessageBox.alert("提示","没有数据！");
                                        }
                                    },
                                    add: false
                                })
                            },
                            failure:function(action,msg) {
                                    infoPanel.getForm().reset();
                                    listView.store.removeAll();
                                    Ext.Msg.alert('提示',"没有此编号数据");return;
                            }
                        })
                    }
                }]
            }]
        }]
    });

    var infoPanel = new Ext.FormPanel({
        labelWidth: 75,
        title: '用户信息',
        labelAlign: 'right',
        defaults:{
            border: false
        },
        style: 'margin-top:10px;margin-bottom:8px;',
        autoHeight:true,
        layout:'column',
        items: [{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '用户名称',
                name: 'Name',
                anchor:'95%'
            },{
                fieldLabel: '抄表段编号',
                name: 'Segment',
                id:'SegmentId',
                anchor:'95%'
            },new QuietCombox({
                fieldLabel: '停电标志',
                displayField:'Text',
                valueField:'IsCut',
                id: 'IsCutId',
                hiddenName:'IsCut',
                fields:['Text','IsCut'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            })]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '用户编号',
                name: 'Number',
                id:'NumberID',
                anchor:'95%'
            },{
                fieldLabel: '房东电话',
                name: 'LandlordPhone',
                anchor:'95%'
            },new QuietCombox({
                fieldLabel: '租房户',
                displayField:'Text',
                valueField:'IsRent',
                hiddenName:'IsRent',
                fields:['Text','IsRent'],
                data   : [['全部', '2'],['是', '1'],['否', '0']],
                anchor:'95%'
            })]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '抄表员',
                name: 'SegUser',
                anchor:'95%'
            },{
                fieldLabel: '用电地址',
                name: 'Address',
                anchor:'95%'
            }]
        },{
            columnWidth:.25,
            layout: 'form',
            defaults:{
                xtype: 'textfield',
                readOnly:true
            },
            items: [{
                fieldLabel: '管理班组',
                name: 'Team',
                anchor:'95%'
            },{
                fieldLabel: '停电方式',
                name: 'CutStyle',
                id: 'CutStyleId',
                anchor:'95%'
            }]
        }]

    });
    var store = new Ext.data.JsonStore(
        {
            id: 'tvliststore',
            url: '/ams/Charges/Arrears',
            root: 'data',
            fields: chargesMoneyFields
        });

    var sm = new Ext.grid.CheckboxSelectionModel();
    var listView = new Ext.grid.GridPanel(
        {
            store: store,
            multiSelect: true,
            title: '电费欠费情况',
            stripeRows: true,
            region: 'center',
            sm: sm,
            autoHeight:true,
            emptyText: '没有节目',
            reserveScrollOffset: true,
            viewConfig: {
                forceFit:true
            },
            columns: [
                sm,
                {
                    id: 'name',
                    header: '应收年月',
                    sortable: true,
                    align:"center",
                    dataIndex: 'YearMonth'
                }, {
                    header: '欠费金额',
                    dataIndex: 'Money',
                    align:"center",
                    sortable: true
                }, {
                    header: '结清标志',
                    sortable: true,
                    align:"center",
                    dataIndex: 'IsClean',
                    renderer:function(v) {
                        if (v == 1) {
                            return '已结清';
                        } else if (v == 0){
                            return "<a style='color:#804000'>未结清</a>";
                        } else {
                            return '预收转逾期';
                        }
                    }
                }, {
                    header: '催费次数',
                    sortable: true,
                    align:"center",
                    dataIndex: 'PressCount',
                    renderer:function(v){
                        return "<a href='#'>"+v+"</a>";
                    }
                }]
        });
    listView.on('cellclick', function (grid, rowIndex, columnIndex, e) {
        var record = grid.getStore().getAt(rowIndex);
        var columnName = grid.getColumnModel().getDataIndex(columnIndex);
        if (columnName == 'PressCount'){
            lookInfo(Ext.getCmp('NumberID').getValue(),1)
        }
    })
    listView.on("render",  function(p,e){
        p.store.on('load',function(){
            listView.getSelectionModel().selectAll();
            var money = 0;
            var ids = [];
            Ext.each(listView.store.data.items, function (item) {

                money += parseFloat(item.data.Money);
                ids.push(item.data.ID);
            });
            var idString = ids.join(",");
            Ext.getCmp('MoneyTotalo').setValue(money);
            Ext.getCmp('moneyID').setValue(idString);
        });
        p.getSelectionModel().on("selectionchange", function(sm){
            var money = 0;
            var ids = [];
            Ext.each(this.getSelections(),function(item){
                money += parseFloat(item.data.Money);
                ids.push(item.data.ID);
            })
            var idString = ids.join(",");
            Ext.getCmp('MoneyTotalo').setValue(money);
            Ext.getCmp('moneyID').setValue(idString);
        });
    })


    var submitForm = new Ext.FormPanel({
        labelWidth: 85,
        defaults:{
            border: false
        },
        url:'/ams/Charges/Create',
        title: '收费',
        style: 'margin-top:10px;margin-left:20px',
        labelAlign: 'right',
        layout: 'column',
        items: [{
            columnWidth:.2,
            layout: 'form',
            items: [{
                fieldLabel: '<a style="color:red;">*</a>收费金额',
                xtype: 'textfield',
                id:'MoneyTotalo',
                readOnly:true,
                name:'Money'
            },{
                fieldLabel:'房东电话',
                xtype: 'textfield',
                name:'LandlordPhone',
                id:'LandlordPhone'
            },new QuietCombox({
                fieldLabel: '签订费控协议',
                displayField:'Text',
                hiddenName:'IsControl',
                valueField:'IsControl',
                id:'IsControl',
                fields:['Text','IsControl'],
                data   : [['是', '1'],['否', '0']],
                width: 120
            }),{
                style:'margin-left:90px',
                width:100,
                xtype:'button',
                text:'收费',
                handler:function(){
                    var number = Ext.getCmp('NumberID').getValue();
                    if (listView.getSelectionModel().getSelections().length == 0) {
                        Ext.Msg.alert('提示','请选择收费条目!');
                        return;
                    }
                    submitForm.getForm().submit({
                        params : {Number : number },
                        success:function(form,action){
                            infoPanel.getForm().load({
                                url:'/ams/Charges/Customer?ID='+number
                            })
                            listView.store.removeAll();
                            listView.store.reload();
                            /*listView.store.load({
                                params : {ID : number },
                                scope: store,
                                add: false
                            })*/
                            Ext.Msg.alert('提示','收费成功');return;
                        },
                        failure:function(form,action){
                            var text = Ext.decode(action.response.responseText);
                            Ext.Msg.alert('提示',text.msg);return;
                        }
                    });
                }
            }]
        },{
            columnWidth:.2,
            layout: 'form',
            items: [
            new QuietCombox({
                fieldLabel: '是否租房',
                displayField:'Text',
                valueField:'IsRent',
                id:'IsRent',
                hiddenName:'IsRent',
                fields:['Text','IsRent'],
                data   : [['是', '1'],['否', '0']],
                width: 120
            }),{
                    fieldLabel:'房客电话',
                    xtype: 'textfield',
                    name:'RenterPhone',
                    id:'RenterPhone',
                    width: 120
                },{
                xtype: 'hidden',
                id:'moneyID',
                name: 'ID'
            }]
        }, {
            columnWidth:.2,
            layout: 'form',
            items: [
                new QuietCombox({
                    fieldLabel: '结算方式',
                    displayField:'Text',
                    valueField:'Value',
                    hiddenName:'PayStyle',
                    fields:['Text','Value'],
                    data   : [['现金', '1'],['POS', '2'], ['支票','3'], ['对账单','4']],
                    width: 100,
                    listeners: {
                        'select': function(field){
                            var d = field.getValue() < 3;

                            Ext.getCmp("Bank").setDisabled(d);
                            Ext.getCmp("NoteNumber").setDisabled(d);

                        }
                    }
                }),
                {
                    fieldLabel:'票据银行',
                    xtype: 'textfield',
                    disabled: true,
                    name:'Bank',
                    id: 'Bank',
                    width: 120
                },
                {
                    fieldLabel:'票据号码',
                    xtype: 'textfield',
                    name:'NoteNumber',
                    disabled: true,
                    id: 'NoteNumber',
                    width: 120
                }
            ]
        }]
    })

    var infoTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        //height:150,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            infoPanel
        ]
    });

    var moneyTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            listView
        ]
    });
    var submmitTab = new Ext.TabPanel({
        labelWidth: 85,
        activeTab: 0,
        height:145,
        plain:true,
        style: 'margin-top:15px',
        defaults:{autoScroll: true},
        items:[
            submitForm
        ]
    });
    var allPanel = new Ext.Panel({
        region: 'center',
        fileUpload: true,
        autoScroll: true,
        bodyStyle: "padding:15px;",
        items: [
            searchPanel,
            infoTab,
            moneyTab,
            submmitTab
        ]
    });
    new Ext.Viewport(
        {
            layout: 'border',
            items: [
                allPanel
            ]
    });

});

</script>